@import '~styles/config';

.link {
  display: flex;

  margin-left: 40px;

  text-decoration: none;

  color: #404040;

  transition: 200ms opacity ease-in-out;

  &:first-of-type {
    margin-left: 0;
  }

  &:hover {
    opacity: 0.5;
  }

  &__icon {
    position: relative;

    margin-right: 8px;

    path { // stylelint-disable-line
      fill: #404040;
    }

    @media (min-width: $min-768) {
      top: 3px;
    }
  }
}
